@font-face {
  font-family: gilroy;
  src: url("../assets/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: alan-sans;
  src: url("../assets/fonts/AlanSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: righteous;
  src: url("../assets//fonts/Righteous-Regular.ttf");
}

.lp-s1 {
  min-height: 600px;
  height: 100vh;
  width: 100%;
  background: url("../assets/images/landing-page-horizontal.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.s1-subsec-1 {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.subsec-1-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.subsec-1-head {
  color: #f7f7f7;
  font-family: gilroy;
  font-size: 3rem;
}
.subsec-1-head2 {
  color: #f7f7f7;
  font-family: alan-sans;
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 0.25rem;
}
.subsec-1-p {
  color: #f7f7f7;
  font-family: alan-sans;
  margin-top: 0.5rem;
}
.subsec-1-btn-deploy {
  margin-top: 1rem;
  background-color: #76ff03;
  color: #212121;
  height: 3rem;
  width: 12rem;
  display: grid;
  place-items: center;
  font-family: alan-sans;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
}
.subsec-1-free-credit {
  color: #f7f7f7;
  margin-top: 1rem;
  font-family: alan-sans;
  font-weight: 100;
  font-size: 0.9rem;
}

.s1-subsec-2 {
  height: 100%;
  width: 100%;
}

.lp-s2 {
  height: 100vh;
  width: 100%;
  background-color: #0f210f;
  min-height: 600px;
}
.subsec-2-head {
  height: 8rem;
  color: #f7f7f7;
  font-family: righteous;
  font-size: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}
.subsec-2-info {
  height: calc(100% - 8rem);
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
}
.subsec-2-info-label {
  width: calc(100% - 3rem);
  height: 100%;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  color: #f7f7f7;
  font-size: 1.5rem;
  font-family: alan-sans;
}
.subsec-2-info-video {
  width: 100%;
  height: 100%;
  display: flex;
}
.subsec-2-info-video p {
  display: none;
}

.subsec-2-info-video video {
  width: calc(100% - 3rem);
  margin-left: 1rem;
  margin-right: 2rem;
}

.lp-s3{
  height: 100vh;
  min-height: 600px;
  width: 100%;
  background-color: #0f0f0f;

}


@media screen and (max-width: 512px) {
  .lp-s1 {
    background: url("../assets/images/landing-page-vertical.webp");
    background-position: center;
    background-size: cover;
    flex-direction: column-reverse;
  }
  .subsec-1-head {
    font-size: 2.25rem;
  }
  .s1-subsec-1 {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .subsec-2-head {
    padding-left: 1rem;
  }
  .subsec-2-info {
    flex-direction: column;
  }
  .subsec-2-info-label {
    display: none;
  }
  .subsec-2-info-video {
    flex-direction: column;
    justify-content: center;
  }
  .subsec-2-info-video p {
    display: block;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    color: #f7f7f7;
    font-size: 1.25rem;
    font-family: alan-sans;
    margin-bottom: 1rem;
  }
  .subsec-2-info-video video {
    margin-top: 1rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* @media screen and (max-height: 500px) {
    
    .subsec-2-info{
      height: calc(100% - 8rem);
    }
  } */
}
