@font-face {
  font-family: gilroy;
  src: url("../assets/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: alan-sans;
  src: url("../assets/fonts/AlanSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: righteous;
  src: url("../assets//fonts/Righteous-Regular.ttf");
}

.lp-s1 {
  min-height: 600px;
  height: 100vh;
  width: 100%;
  background: url("../assets/images/landing-page-horizontal.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.s1-subsec-1 {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.subsec-1-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.subsec-1-head {
  color: #f7f7f7;
  font-family: gilroy;
  font-size: 3rem;
}
.subsec-1-head2 {
  color: #f7f7f7;
  font-family: alan-sans;
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 0.25rem;
}
.subsec-1-p {
  color: #f7f7f7;
  font-family: alan-sans;
  margin-top: 0.5rem;
}
.deploy-page-button{
  text-decoration: none;
}
.subsec-1-btn-deploy {
  margin-top: 1rem;
  background-color: #76ff03;
  color: #212121;
  height: 3rem;
  width: 12rem;
  display: grid;
  place-items: center;
  font-family: alan-sans;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
}
.subsec-1-free-credit {
  color: #f7f7f7;
  margin-top: 1rem;
  font-family: alan-sans;
  font-weight: 100;
  font-size: 0.9rem;
}

.s1-subsec-2 {
  height: 100%;
  width: 100%;
}
.free-demo{
  margin-top: 0.25rem;
}

.lp-s2  {
  height: 100vh;
  width: 100%;
  background-color: #0f210f;
  min-height: 600px;
}
.subsec-2-head {
  height: 8rem;
  color: #f7f7f7;
  font-family: righteous;
  font-size: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}
.subsec-2-info {
  height: calc(100% - 8rem);
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
}
.subsec-2-info-label {
  width: calc(100% - 3rem);
  height: 100%;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  color: #f7f7f7;
  font-size: 1.5rem;
  font-family: alan-sans;
}
.subsec-2-info-video {
  width: 100%;
  height: 100%;
  display: flex;
}
.subsec-2-info-video p {
  display: none;
}

.subsec-2-info-video video {
  width: calc(70vw - 150px);
  margin-left: 1rem;
  margin-right: 2rem;
}

.lp-s3 {
  height: 100vh;
  min-height: 600px;
  width: 100%;
  background-color: #0f0f0f;
}
.subsec-3-head {
  color: #f7f7f7;
  font-size: 2rem;
  font-family: righteous;
  height: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-direction: column;
}
.subsec-3-head div {
  padding-top: 3rem;
}

.subsec-3-head p {
  color: #f7f7f7;
  font-size: 1.25rem;
  font-family: alan-sans;
}
.subsec-3-info {
  height: calc(100% - 8rem);
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  align-items: center;
}
.subsec-3-info img {
  width: calc(100% - 40vw);
}

.lp-s4 {
  height: 100vh;
  min-height: 600px;
  background: url("../assets/images/lynx-sofa-render-image.webp");
  background-position: center;
  background-size: cover;
}

.s4-bg-opacity {
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.95);
}
.subsec-4-head {
  font-size: 2rem;
  color: #f7f7f7;
  height: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: righteous;
  display: grid;
  align-items: center;
}
.subsec-4-info {
  width: calc(100% - 4rem);
  margin-left: 2rem;
  margin-right: 2rem;
  height: calc(100% - 8rem);
  display: flex;
  align-items: center;
}
.subsec-4-info-label {
  color: #f7f7f7;
  font-family: alan-sans;
  font-size: 1.5rem;
  width: 40%;
  margin-right: 2rem;
}
.subsec-4-info-label p {
  margin-top: 1rem;
  font-size: 1.05rem;
}
.subsec-4-info-chart {
  width: 60%;
}
.subsec-4-info-chart canvas{
  border-radius: 1rem;
}
.lp-s5 {
  height: 100vh;
  min-height: 600px;
  width: 100%;
  background: url("../assets/images/barbershop-render-image.webp");
  background-size: cover;
  background-position: center;
}
.s5-bg-opacity {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.85);
}
.subsec-5-head {
  height: 8rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #f7f7f7;
  font-size: 2rem;
  font-family: righteous;
}
.subsec-5-head div {
  display: flex;
}
.subsec-5-head img {
  height: 2.5rem;
  margin-left: 0.75rem;
}
.subsec-5-info {
  padding-left: 2rem;
  padding-right: 2rem;
  color: #f7f7f7;
  height: calc(100% - 8rem);
  overflow-y: hidden;
}
.subsec-5-info-label-1 {
  font-family: alan-sans;
  font-size: 1.5rem;
  width: calc(100% - 40vw);
  margin-bottom: 1rem;
}
.subsec-5-info-label-2 {
  font-family: alan-sans;
  margin-top: 1rem;
  font-weight: 200;
  font-size: 1.25rem;
}
.subsec-5-info-label-2 ul {
  max-height: 100%;
}
.subsec-5-info-label-2 li {
  margin-top: 0.75rem;
  margin-left: 2rem;
}

.lp-s6 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background: url("../assets/images/cosmos-laundromat-render-Image.webp");
  background-position: center;
  background-size: cover;
}
.s6-bg-opacity {
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.85);
}
.subsec-6-head {
  height: 8rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #f7f7f7;
  font-size: 2rem;
  font-family: righteous;
}

.subsec-6-info {
  height: calc(100% - 8rem);
  display: flex;
  align-items: center;
}
.subsec-6-info-label {
  color: #f7f7f7;
  font-family: alan-sans;
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}
.subsec-6-info-chart img {
  width: 50vw;
  padding-right: 2rem;
}
.lp-s7 {
  height: 100vh;
  min-height: 600px;
  width: 100%;
  background: #0f0f0f;
}
.subsec-7-head {
  height: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #f7f7f7;
  font-family: righteous;
  display: flex;
  font-size: 2rem;
  align-items: center;
}
.subsec-7-info {
  height: calc(100% - 8rem);
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}
.subsec-7-info-label {
  color: #f7f7f7;
  font-size: 1.5rem;
  font-family: alan-sans;
  padding-right: 1rem;
}
.subsec-7-info-label p:nth-child(2) {
  margin-top: 1rem;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.subsec-7-info-chart {
  padding-left: 1rem;
}
.subsec-7-info-chart img {
  width: 60vw;
}
.lp-s8{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1b5ccc 0%, #2071fc 100%);
  position: relative;
}

.subsec-8-head{
  font-size: 1.5rem;
  color: #f7f7f7;
  font-family: righteous;
}
.subsec-8-deploy-btn{
  margin-top: 0.75rem;
  height: 40px;
  width: 150px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: alan-sans;
  color: #212121;
  font-weight: 700;
  cursor: pointer;

}
.subsec-8-email{
  margin-top: 0.75rem;
  font-size: 1rem;
  font-family: alan-sans;
  color: #f7f7f7;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 500;
}
.subsec-8-email a{
  text-decoration:underline;
  color: #f7f7f7;
}
.subsec-8-footer a {
  text-decoration: none;
  width: 100px;
}
.subsec-8-footer{
  width: 100%;
  height: 100px;
  margin-top: 3rem;
  /* position: absolute; */
  bottom: 0;
}
.footer-github{
  height: 40px;
  width: 175px;
  color: #f7f7f7;
  font-family: gilroy;
  background: #212121;
  display: grid;
  place-items: center;
  margin-left: 1rem;
  border-radius: 5px;


}
.made-by{
  font-family: alan-sans;
  color: #f7f7f7;
  margin-top: 0.5rem;
  padding-left: 1rem;
  font-weight: 500;

}
@media screen and (max-width: 768px) {
  .subsec-7-head {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .subsec-7-info {
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }
  .subsec-7-info-label{
    font-size: 1.25rem;
  }

  .subsec-7-info-chart{
    padding-left: 0;
    margin-top: 1rem;
  }
  .subsec-7-info-chart img{
    width: 100%;
  }
  .subsec-7-info-label p:nth-child(2) {
  margin-bottom: 1rem;
}
}

@media screen and (max-width: 512px) {
  .lp-s1 {
    background: url("../assets/images/landing-page-vertical.webp");
    background-position: center;
    background-size: cover;
    flex-direction: column-reverse;
  }
  .subsec-1-head {
    font-size: 2.25rem;
  }
  .s1-subsec-1 {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .subsec-2-head {
    padding-left: 1rem;
  }
  .subsec-2-info {
    flex-direction: column;
  }
  .subsec-2-info-label {
    display: none;
  }
  .subsec-2-info-video {
    flex-direction: column;
    justify-content: center;
  }
  .subsec-2-info-video p {
    display: block;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    color: #f7f7f7;
    font-size: 1.25rem;
    font-family: alan-sans;
    margin-bottom: 1rem;
  }
  .subsec-2-info-video video {
    margin-top: 1rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .subsec-3-head {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .subsec-3-head p {
    font-size: 1.1rem;
  }
  .subsec-3-info {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .subsec-3-info img {
    width: 100%;
  }
  .subsec-4-head {
    padding-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .subsec-4-info {
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    height: calc(100% - 10rem);
  }
  .subsec-4-info-label {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .subsec-4-info-chart {
    width: 100%;
    margin-top: 1rem;
  }
  .subsec-5-head {
    padding-left: 1rem;
    padding-right: 1rem;
    /* display: block; */
  }
  .subsec-5-head div {
    display: block;
  }
  .subsec-5-head img {
    margin-left: 0rem;
  }
  .subsec-5-info {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .subsec-5-info-label-1 {
    width: 100%;
    font-size: 1.25rem;
  }
  .subsec-6-head {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .subsec-6-info {
    flex-direction: column;
    justify-content: center;
  }
  .subsec-6-info-label {
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .subsec-6-info-chart img {
    width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
  }
}
